html, body {
	width: 100%;
	height: 100%;
}
.container1{
	background: #272727;
	position: relative;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.container2{
	background: #DCDCDC;
	position: relative;
	height: 40vh;
	display: flex;
    justify-content: space-around;
}
.container3{
	background: #272727;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.logo img{
	width:150px;
	margin-left: 30px;
	margin-right: 200px;
	margin-top: 20px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	font-size:20px;
	color: #ffff;
	font-family: 'SquadaOne-Regular';
}
a:hover{
	color: #4FB6B2;
	transition: 0.4s;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 100px 0 100px;
	z-index: 30;
}
.navigation-ul{
	display: flex;
}
.navigation-li{
	margin-right:30px;
}
.navigation{
	align-self: flex-end;
}
.cercles{
	position: relative;
	margin: 70px 0 0 150px;
}
img{
	z-index: 6;
}
.cercle{
	position: absolute;
}
.cercle:nth-child(1){
	transform: translateX(-15px);
	animation: move 1s infinite alternate;
}
@keyframes move {
	0% {
	transform: translateX(-15px) scale(1);
	}
	100%{
	transform: translateX(-15px) scale(1.2);
	}
}
.cercle:nth-child(2){
	transform: translateY(-15px);
	animation: move1 1s infinite alternate; 
}
@keyframes move1 {
	0% {
	transform: translateY(-15px) scale(1);
	}
	100%{
	transform: translateY(-15px) scale(1.2);
	}
}
.cercle:nth-child(3){
	transform: translateX(15px);
	animation: move2 1s infinite alternate;
}
@keyframes move2 {
	0% {
	transform: translateX(15px) scale(1);
	}
	100%{
	transform: translateX(15px) scale(1.2);
	}
}
.cercle:nth-child(4){
	transform: translateY(15px);
	animation: move3 1s infinite alternate; 
}
@keyframes move3 {
	0% {
	transform: translateY(15px) scale(1);
	}
	100%{
	transform: translateY(15px) scale(1.2);
	}
}
.play{
	z-index: 10;
	position: absolute;
}
.recltangle{
	position: absolute;
    z-index: 2;
    left: 30px;
}
.cercles p{
 	color: white;
    font-size: 17px;
    position: absolute;
    left: 150px;
    top: 30px;
    z-index: 6;
}
.share{
	position: absolute;
    z-index: 20;
    left: 480px;
    top: 28px;
}
.download{
    position: absolute;
    right: 128px;
    background-color: #4FB6B2;
    padding: 10px;
    border-radius: 1px;
    top: 30px;
    z-index: 17;
}
.download:hover{
	background-color:#DCDCDC;
}
.music{
	font-family: 'RobotoCondensed-Light';
}
.waves{
	position: relative;
   	margin-top: auto;
}
.path{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.timeline{
	position: absolute;
	margin-top: 60px;
}
.container2-child{
	display: flex;
	justify-content: space-around;
}
.container2-child .time p{
	color: #272727;
	font-size: 17px;
	margin: 22px 109px 0 0;
}
.time{
	display: flex;
    justify-content: space-between;
    margin-left: 106px;
}
.container2-child .time .greenone{
	color: #4FB6B2;
}
.rctngl1{
	position: absolute;
    top: 109px;
    display: flex;
    justify-content: space-around;
    margin-left: -445px;
}
.musicname{
	font-family: 'RobotoCondensed-Light';
}
.rctngl1 .musicname{
	position: absolute;
    top: 35px;
    z-index: 7;
    color: white;
}
.rctngl2{
	position: absolute;
    top: 109px;
    display: flex;
    justify-content: space-around;
    margin-left: -148px;
}
.rctngl2 .musicname{
	position: absolute;
    top: 35px;
    z-index: 7;
    color: white;
}
.rctngl3{
	position: absolute;
    top: 109px;
    display: flex;
    justify-content: space-around;
    margin-left: 149px;
}
.rctngl3 .musicname{
	position: absolute;
    top: 30px;
    z-index: 7;
    color: white;
    width: 79px;
}
.footer{
	width: 700px;
	height: 100px;
	background: #272727;
	position: absolute;
	z-index: 6;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.footer1{
	width: 700px;
	height: 100px;
	background: #272727;
	border: 1px #DCDCDC solid;
	z-index: 6;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	opacity: 70%;
	margin: 0 auto;
}
.footer-txt{
	display: flex;
	justify-content: space-between;
	padding: 25px 30px 10px 30px;
	font-family: 'SquadaOne-Regular';
}
.footer p{
	color: white;
}
.footer1 p{
	color: white;
}
.social{
	position: relative;
	display: flex;
	margin:0 6px 7px 30px;
}
.social-icon{
	margin-right: 15px;
	margin-top: 15px;
}
.social-icon:hover{
	color: #4FB6B2;
	transition: 0.4s;
}
.apps-icons{
	margin-left: auto;
    padding-right: 25px;
}
.about-camp{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'SquadaOne-Regular';
    padding: 75px;
}
.concept{
	font-size: 40px;
	color: #4FB6B2;
	font-family: 'SquadaOne-Regular';
}
.about-camp:after{
	content: "";
    width: 20%;
    height: 3px;
    background: #B9B5B5;
    display: flex;
    position: absolute;
    bottom: 0;
}
.concept2{
	font-size: 20px;
	color: #4FB6B2;
	font-family: 'RobotoCondensed-Light';
}
.about-camp2{
	position: relative;
    display: flex;
    justify-content: center;
    font-family: 'SquadaOne-Regular';
    padding: 75px;
}
.about-camp2:after{
	content: "";
    width: 20%;
    height: 3px;
    background: #B9B5B5;
    display: flex;
    position: absolute;
    bottom: 0;
}
.concept3{
	font-size: 20px;
	color: #4FB6B2;
	font-family: 'RobotoCondensed-Light';
}
.about-camp3{
	position: relative;
    display: flex;
    justify-content: center;
    font-family: 'SquadaOne-Regular';
    padding: 75px;
}
.aboutus{
	height: calc(100vh - 194px);
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.wavewrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.wavewrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: #272727;
}
.bgtop {
    z-index: 15;
}
.bgmiddle {
    z-index: 10;
}
.bgbottom {
    z-index: 12;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveanimation .wavetop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1.5s;
   animation-delay: 1.5s;
   animation: move_wave 7s linear infinite reverse;

}

.waveanimation .wavemiddle {
    animation: move_wave 7s linear infinite reverse;
    -webkit-animation-delay: 1-webkit-animation-delay: 1.5s;
   animation-delay: 1.5s;
s;
   animation-delay: 1s;

}
.waveanimation .wavebottom {
    animation: move_wave 7s linear infinite;
}
.events{
	height: calc(100vh - 194px);
}
.event1{
	background:#333333;
	display: inline-block;
	margin-right: 115px;
	padding: 10px 20px 10px 20px;
}
.events p{
	font-size: 17px;
	color: white;
	padding: 10px 0 10px 0;
}

